[submodule "scratch"]
	path = scratch/.raw
	url = https://github.com/redhat-na-ssa/demo-datasci-fingerprint-data.git

[submodule "explore"]
	path = explore
	url = https://github.com/redhat-na-ssa/demo-datasci-fingerprint.git
